<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar navbar-dark bg-dark" th:fragment="navbar">
    <span class="navbar-brand mb-0 h1">My Savings</span>
    <div class="container">
        <div class="row">
            <a class="nav-link" href="/main">Main page</a>
            <a class="nav-link" href="/category-list">Category list<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/expenses/list">Cost list</a>
            <a class="nav-link" href="/expenses/add">Add cost</a>
        </div>
    </div>
</nav>


</body>
